.list {
  @apply text-white flex rounded-none md:rounded-full bg-backgroundDarker flex-col md:flex-row border-b-2 border-zinc-800;
}

.list:hover {
  @apply text-zinc-700;
}

.li {
  @apply flex h-full justify-center items-center content-center;
}

.link {
  transition: all 0.3s ease;

  @apply flex py-3 px-9 text-2xl md:text-base;
}

.link:hover {
  color: white;
}

.nav {
  transition: all 0.3s ease;
  @apply translate-y-[-100%] md:translate-y-0;
}

.nav.active {
  @apply translate-y-0;
}

.burger {
}

.burger span {
  position: absolute;
  display: block;
  width: 30px;
  height: 4px;
  background: var(--gradient-main);

  transition: all 0.2s ease;

  opacity: 1;
}

.burger span:nth-child(1) {
  top: 17px;
}

.burger span:nth-child(3) {
  bottom: 17px;
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.burger.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
