@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1d1d1d;
  --foreground: #ffffff;

  --subtext: #bbb;

  --background-darker: #1a1a1a;

  --highlighted-bg: rgba(92, 211, 189, 0.1);
  --highlighted-text: rgba(92, 211, 189, 0.8);

  --gradient-main: linear-gradient(280deg, #5cd3bd, #5af9e4, #45c1bc, #4bdcdc);

  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);

  box-sizing: border-box;
}

.background-gradient {
  background: #4bdcdc;
  background: -moz-linear-gradient(280deg, #5cd3bd, #5af9e4, #45c1bc, #4bdcdc);
  background: -webkit-linear-gradient(
    280deg,
    #5cd3bd,
    #5af9e4,
    #45c1bc,
    #4bdcdc
  );
  background: linear-gradient(280deg, #5cd3bd, #5af9e4, #45c1bc, #4bdcdc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5cd3bd",endColorstr="#4bdcdc",GradientType=1);
}

.slick-list {
  display: flex;
  height: fit-content;
  line-height: 0;
  @apply rounded-2xl;
}

.slick-track {
  display: flex;
  height: fit-content;
}

.slick-slide.slick-slide {
  height: fit-content !important;
  outline: none;
}

.slick-slide > div {
  display: flex;
  height: fit-content;
}

.slick-arrow.slick-arrow {
  width: 40px;
  height: 40px;

  z-index: 9;
}

.slick-prev.slick-prev {
  left: -80px;
}

.slick-next.slick-next {
  right: 0px;
}

.slick-arrow.slick-arrow::before {
  font-size: 40px;
  box-sizing: content-box;
  padding: 40px;

  transition: all 0.3s ease;

  @apply text-zinc-500;
}

.link-icon-trigger:hover .link-icon {
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  /* .slick-arrow.slick-arrow {
    width: 25px;
    height: 25px;
  } */

  .slick-prev.slick-prev {
    left: -25px;
  }

  .slick-arrow.slick-arrow::before {
    font-size: 40px;
    box-sizing: content-box;
    padding: 0px !important;
  }

  .slick-next.slick-next {
    right: -25px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f1f1f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 9999px;

  transition: all 0.3s ease-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
