@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1d1d1d;
  --foreground: #ffffff;

  --background-darker: #1a1a1a;

  --gradient-main: linear-gradient(280deg, #5cd3bd, #5af9e4, #45c1bc, #4bdcdc);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);

  box-sizing: border-box;
}

.background-gradient {
  background: #4bdcdc;
  background: -moz-linear-gradient(280deg, #5cd3bd, #5af9e4, #45c1bc, #4bdcdc);
  background: -webkit-linear-gradient(
    280deg,
    #5cd3bd,
    #5af9e4,
    #45c1bc,
    #4bdcdc
  );
  background: linear-gradient(280deg, #5cd3bd, #5af9e4, #45c1bc, #4bdcdc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5cd3bd",endColorstr="#4bdcdc",GradientType=1);
}

.slick-list {
  display: flex;
  height: fit-content;
  line-height: 0;
  @apply rounded-2xl;
}

.slick-track {
  display: flex;
  height: fit-content;
}

.slick-slide.slick-slide {
  height: fit-content !important;
  outline: none;
}

.slick-slide > div {
  display: flex;
  height: fit-content;
}
