.heading {
  background: var(--gradient-main);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.regular {
  @apply sm:text-2xl md:text-regular font-medium;
}
